/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-oct.-2014, 16:34:26
    Author     : David
*/



.error{
    font-weigth: bold;
    text-align:center;
    color:red;
    width: 100%;
}

.right{
    float:right;
    
}

.left{
    float:left;
}

.buttonmargin{
    margin-bottom: 10px;
}

.espace{
    margin-left: 5px;
}
.centrer{
    text-align: center;
}

.padding15{
    padding: 15px;
}

.margin-top6{
    margin-top: 6px;
}

.margin-right4{
    margin-right: 4px;
}