<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"

      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <body>
        <ui:composition>
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">ShopEasy administration</a>
                </div>
                <!-- /.navbar-header -->

                <ul class="nav navbar-top-links navbar-right">
                    <!-- /.dropdown -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Déconnexion</a>
                            </li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                    <!-- /.dropdown -->
                </ul>
                <!-- /.navbar-top-links -->

                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">

                            <li>
                                <h:link outcome="index"><i class="fa fa-dashboard fa-fw"/> Dashboard</h:link>
                            </li>
                            <li>
                                <h:link outcome="rayon"><i class="fa fa-road fa-fw"/> Rayons <span class="fa arrow"></span></h:link>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <h:link outcome="rayon">Vue d'ensemble</h:link>
                                    </li>
                                    <li>
                                        <h:link outcome="nouveauRayon">Nouveau rayon</h:link>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <h:link outcome="produit"><i class="fa fa-shopping-cart fa-fw"/> Produits <span class="fa arrow"/></h:link>
                                  <ul class="nav nav-second-level">
                                    <li>
                                        <h:link outcome="produit">Liste des produits</h:link>
                                    </li>
                                    <li>
                                        <h:link outcome="nouveauProduit">Nouveau produit</h:link>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <h:link outcome="recette"><i class="fa fa-glass fa-fw"/> Recettes</h:link>
                            </li>
                            <li>
                                <h:link outcome="promotion"><i class="fa fa-birthday-cake fa-fw"/> Promotions</h:link>
                            </li>
                             <li>
                                <h:link outcome="utilisateur"><i class="fa fa-user fa-fw"/> Utilisateurs</h:link>
                            </li>
                           

                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
            </nav>
        </ui:composition>
    </body>
</html>