<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      >
    <h:head>
        <title><ui:insert name="title" ></ui:insert></title>
        <h:outputStylesheet name="top.css" library="css"/>
        <h:outputStylesheet name="bootstrap.min.css" library="css"/>
        <h:outputStylesheet name="sb-admin-2.css" library="css"/>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"></link>

        <h:outputScript name="jquery-1.11.0.js" library="js"/>
        <h:outputScript name="bootstrap.min.js" library="js"/>
        <h:outputScript name="sb-admin-2.js" library="js"/>
        <h:outputScript name="metisMenu.js" library="js"/>
        <h:outputScript name="my.js" library="js"/>

    </h:head>
    <h:body>
        <div id="page">
            <div id="header">
                <ui:insert name="header" >
                    <ui:include src="/template/header.xhtml" />
                </ui:insert>
            </div>

            <div id="content">
                <ui:insert name="content" >
                    <ui:include src="/template/content.xhtml" />
                </ui:insert>
            </div>
        </div>
    </h:body>
</html>