<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>
        <ui:composition template="../template/layout.xhtml">
            <ui:define name="title">ShopEasy editer recette</ui:define>
            <ui:define name="content">
                <div id="page-wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Editer recette</h1>
                            <span class="left buttonmargin">
                                <h:link outcome="recette" class="btn btn-danger"><i class="fa fa-arrow-left"/> retour</h:link>
                            </span>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <div class="row">
                        <div class="col-lg-12">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Modifier une recette
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-12">

                                            <h:form enctype="multipart/form-data">
                                                <div class="form-group">
                                                    <label>Nom</label><br/>
                                                    <h:inputText value="#{editRecetteBean.currentRecette.nom}" class="form-control"/>
                                                </div>

                                                <div class="form-group">
                                                    <label>Catégorie</label><br/>
                                                    <h:selectOneMenu value="#{editRecetteBean.currentRecette.categorie}" class="form-control">
                                                        <f:selectItems value="#{editRecetteBean.categories}" var="cat"
                                                                       itemLabel="#{cat}" itemValue="#{cat}" />
                                                    </h:selectOneMenu> 
                                                </div>

                                                <div class="form-group">
                                                    <label>Nombre de personnes</label><br/>
                                                    <h:inputText value="#{editRecetteBean.currentRecette.nombrePersonnes}" class="form-control"/>
                                                </div>

                                                <div class="form-group">
                                                    <label>Listes des ingrédients</label><br/>

                                                    <div class="table-responsive">
                                                        <h:dataTable value="#{editRecetteBean.currentRecette.ingredients}" var="ingredient"
                                                                     styleClass="order-table"
                                                                     headerClass="order-table-header"
                                                                     rowClasses="order-table-odd-row,order-table-even-row"
                                                                     class="table table-striped table-bordered table-hover">
                                                            <h:column>
                                                                <f:facet name="header">Quantité</f:facet>
                                                                    #{ingredient.quantite}
                                                            </h:column>
                                                            <h:column>
                                                                <f:facet name="header">Produit</f:facet>
                                                                    #{ingredient.produit.nom}
                                                            </h:column>
                                                            <h:column>
                                                                <f:facet name="header">Action</f:facet>                                                                                                                                 
                                                                <h:commandLink value="Supprimer" class="btn btn-danger btn-sm" action="#{editRecetteBean.supprimer(ingredient)}"/>                                                                    
                                                            </h:column>
                                                        </h:dataTable>
                                                    </div>
                                                    <div class="well well-lg">
                                                        <div class="form-group">
                                                            <label>Ajouter un ingrédient</label><br/>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-1 margin-top6">Quantité</div>
                                                            <div class="col-md-5"><h:inputText class="form-control" value="#{editRecetteBean.unIngredient.quantite}" /></div>
                                                        </div>
                                                        <div class="row margin-top6">
                                                            <div class="col-md-1 margin-top6">Produit</div>
                                                            <div class="col-md-5"><h:selectOneMenu value="#{editRecetteBean.unIngredient.produit.id}" class="form-control">
                                                                    <f:selectItems value="#{produitBean.produits}" var="produit"
                                                                                   itemLabel="#{produit.nom}" itemValue="#{produit.id}" />
                                                                </h:selectOneMenu>
                                                            </div>
                                                        </div>
                                                        <div class="row margin-top6"> 
                                                            <div class="col-md-1 col-md-offset-5 margin-right4">
                                                                <h:commandButton value="Ajouter" class="btn btn-primary btn-sm" action="#{editRecetteBean.ajouter()}" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="form-group">
                                                    <label>Préparation</label><br/>
                                                    <h:inputTextarea value="#{editRecetteBean.currentRecette.preparation}" class="form-control" cols="30" rows="15"/>
                                                </div>

                                                <div class="form-group">
                                                    <label>Image</label><br/>
                                                    <h:inputFile id="file" value="#{editRecetteBean.file}" />
                                                </div>

                                                <span class="error"><h:outputText id="resultat" value="#{editRecetteBean.erreur}"/></span>
                                                <span class="right">
                                                    <h:commandButton value="Modifier" type="submit" action="#{editRecetteBean.update()}" class="btn btn-success btn-lg">
                                                        <f:param name="id" value="#{editRecetteBean.currentRecette.id}"/></h:commandButton>
                                                </span>   

                                            </h:form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </ui:define>
        </ui:composition>
    </body>
</html>
