<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <body>
        <ui:composition template="../template/layout.xhtml">

         
            <ui:define name="title">ShopEasy editer utilisateur</ui:define>
            <ui:define name="content">
                <div id="page-wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Editer un utilisateur</h1>
                            <span class="left buttonmargin">
                                <h:link outcome="utilisateur" class="btn btn-danger"><i class="fa fa-arrow-left"/> retour</h:link>
                            </span>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Edition
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h:form>
                                                <div class="form-group">
                                                    <label>ID</label><br/>
                                                    <h:inputText value="#{editUtilisateurBean.utilisateur.id}" class="form-control" disabled="true"/>
                                                </div>

                                                <div class="form-group">
                                                    <label>Date inscription</label><br/>
                                                    <h:inputText value="#{editUtilisateurBean.utilisateur.inscription}" class="form-control" disabled="true">
                                                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
                                                    </h:inputText>
                                                </div>

                                                <div class="form-group">
                                                    <label>Pseudo</label><br/>
                                                    <h:inputText value="#{editUtilisateurBean.utilisateur.login}" class="form-control"/>
                                                </div>    
                                                
                                                <div class="form-group">
                                                    <label>Nom</label><br/>
                                                    <h:inputText value="#{editUtilisateurBean.utilisateur.nom}" class="form-control"/>
                                                </div>


                                                <div class="form-group">
                                                    <label>Prénom</label><br/>
                                                    <h:inputText value="#{editUtilisateurBean.utilisateur.prenom}" class="form-control"/>
                                                </div>

                                                <div class="form-group">
                                                    <label>Role</label><br/>

                                                    <h:selectOneMenu value="" disabled="true" rendered="#{editUtilisateurBean.utilisateur.role eq 'SuperAdmin'}" class="form-control">
                                                        <f:selectItem itemValue="SuperAdmin" itemLabel="SuperAdmin"/>
                                                    </h:selectOneMenu>

                                                    <h:selectOneMenu value="#{editUtilisateurBean.utilisateur.role}" rendered="#{editUtilisateurBean.utilisateur.role ne 'SuperAdmin'}" class="form-control">
                                                        <f:selectItems value="#{editUtilisateurBean.roles}" var="r"
                                                                       itemLabel="#{r}" itemValue="#{r}" />
                                                    </h:selectOneMenu> 

                                                </div>
                                                <span class="error"><h:outputText id="resultat" value="#{editUtilisateurBean.erreur}"/></span>    
                                                <span class="right">
                                                <h:commandButton value="Modifier" type="submit" action="#{editUtilisateurBean.update()}" class="btn btn-success btn-lg">
                                                    <f:param name="id" value="#{editUtilisateurBean.utilisateur.id}"/></h:commandButton>
                                                </span>
                                            </h:form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </ui:define>
        </ui:composition>
    </body>
</html>
