<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"

      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:body>

        <ui:composition template="../template/layout.xhtml">
            <ui:define name="title">ShopEasy Administration</ui:define>
            <ui:define name="content">
                <div id="page-wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Dashboard</h1>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-comments fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge">#{dashboardBean.users}</div>
                                            <div>Utilisateurs</div>
                                        </div>
                                    </div>
                                </div>
                                <h:link outcome="utilisateur">
                                    <div class="panel-footer">
                                        <span class="pull-left">Voir détails</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </h:link>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-road fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge">#{dashboardBean.rayons}</div>
                                            <div>Rayons</div>
                                        </div>
                                    </div>
                                </div>
                                <h:link outcome="rayon">
                                    <div class="panel-footer">
                                        <span class="pull-left">Voir détails</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </h:link>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-yellow">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-shopping-cart fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge">#{dashboardBean.produits}</div>
                                            <div>Produits</div>
                                        </div>
                                    </div>
                                </div>
                                <h:link outcome="produit">
                                    <div class="panel-footer">
                                        <span class="pull-left">Voir détails</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </h:link>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-glass fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge">#{dashboardBean.recettes}</div>
                                            <div>Recettes</div>
                                        </div>
                                    </div>
                                </div>
                                <h:link outcome="recette">
                                    <div class="panel-footer">
                                        <span class="pull-left">Voir détails</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </h:link>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-6 padding15">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Top produit
                                </div>
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Nom</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ui:repeat var="produit" value="#{dashboardBean.topProduits}" varStatus="status">
                                            <tr>
                                                <td >#{produit.nom}</td>
                                            </tr>
                                        </ui:repeat>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 padding15">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Derniers inscrits
                                </div>
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Pseudo</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <ui:repeat var="utilisateur" value="#{dashboardBean.lastUtilisateur}" varStatus="status">
                                                <tr>
                                                    <td >#{utilisateur.login}</td>
                                                    <td ><h:outputText value="#{utilisateur.inscription}" >
                                                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
                                                        </h:outputText></td>
                                                </tr>
                                            </ui:repeat>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </ui:define>
        </ui:composition>

    </h:body>

</html>