<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>
        <ui:composition template="../template/layout.xhtml">
            <ui:define name="title">ShopEasy nouveau produit</ui:define>
            <ui:define name="content">

                <div id="page-wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Nouveau produit</h1>
                            <span class="left buttonmargin">
                                <h:link outcome="produit" class="btn btn-danger"><i class="fa fa-arrow-left"/> retour</h:link>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 ">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Ajouter un produit
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h:form enctype="multipart/form-data">

                                                <div class="form-group">
                                                    <label>Nom</label><br/>
                                                    <h:inputText value="#{produitBean.produit.nom}" class="form-control"/>
                                                </div>

                                                <div class="form-group">
                                                    <label>Type de vente</label><br/>
                                                    <h:selectOneRadio value="#{produitBean.produit.typeVente}">
                                                        <f:selectItem itemValue="P" itemLabel="Pièce " />
                                                        <f:selectItem itemValue="V" itemLabel="En vrac " />	   			
                                                    </h:selectOneRadio>
                                                </div>

                                                <div class="form-group">
                                                    <label>Prix</label><br/>

                                                    <div class="input-group">
                                                        <span class="input-group-addon fa fa-eur "></span>
                                                        <h:inputText value="#{produitBean.produit.prix}" class="form-control"/>
                                                        
                                                    </div>
                                                    <i>Pour un produit en vrac, le prix est au kilo</i>

                                                </div>

                                                <div class="form-group">
                                                    <label>Rayon</label><br/>
                                                    <h:selectOneMenu value="#{produitBean.produit.rayon.id}" class="form-control">
                                                        <f:selectItems value="#{rayonBean.rayons}" var="r"
                                                                       itemLabel="#{r.nom}" itemValue="#{r.id}" />
                                                    </h:selectOneMenu>
                                                </div>

                                                <div class="form-group">
                                                    <label>Image</label><br/>
                                                    <h:inputFile id="file" value="#{produitBean.file}" />
                                                </div>

                                                <span class="error"><h:outputText id="resultat" value="#{produitBean.erreur}"/></span>
                                                <span class="right"><h:commandButton value="Ajouter" type="submit" action="#{produitBean.ajouter()}" class="btn btn-primary btn-lg"/></span>           
                                            </h:form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </body>
</html>
