<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>
        <ui:composition template="../template/layout.xhtml">
            <ui:define name="title">ShopEasy nouveau rayon</ui:define>
            <ui:define name="content">
                <div id="page-wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Nouveau rayon</h1>
                            <span class="left buttonmargin">
                                <h:link outcome="rayon" class="btn btn-danger"><i class="fa fa-arrow-left"/> retour</h:link>
                            </span>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <div class="row">
                        <div class="col-lg-12">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Ajouter un rayon
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h:form>

                                                <div class="form-group">
                                                    <label>Nom</label><br/>
                                                    <h:inputText value="#{rayonBean.rayon.nom}" class="form-control"/>
                                                </div>                                                
                                           
                                                <span class="error"><h:outputText id="resultat" value="#{rayonBean.erreur}"/></span>                                           
                                                <span class="right"><h:commandButton value="Ajouter" type="submit" action="#{rayonBean.ajouter()}" class="btn btn-success btn-lg"/></span>           
                                            </h:form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </body>
</html>
