<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>
        <ui:composition template="../template/layout.xhtml">
            <ui:define name="title">ShopEasy nouvelle promotion</ui:define>
            <ui:define name="content">

                <div id="page-wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Promotion</h1>
                            <span class="left buttonmargin">
                                <h:link outcome="promotion" class="btn btn-danger"><i class="fa fa-arrow-left"/> retour</h:link>
                            </span>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>

                    <div class="row">
                        <div class="col-lg-12">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Ajouter une promotion                                   
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h:form>

                                                <div class="form-group">
                                                    <label>Produit</label><br/>
                                                    <h:selectOneMenu value="#{promotionBean.idProduit}" class="form-control">
                                                        <f:selectItems value="#{promotionBean.listeProduitSansPromo}" var="r"
                                                                       itemLabel="#{r.nom} - #{r.prix}euro" itemValue="#{r.id}" />
                                                    </h:selectOneMenu>
                                                </div>         

                                                <div class="form-group">
                                                    <label>Pourcentage</label><br/>
                                                    <h:inputText value="#{promotionBean.promotion.pourcentage}" class="form-control" required="true">
                                                        <f:validateDoubleRange  minimum="0" maximum="100" ></f:validateDoubleRange>  
                                                    </h:inputText>
                                                </div>

                                                <span class="error"><h:outputText id="resultat" value="#{promotionBean.erreur}"/></span>
                                                <span class="right"><h:commandButton value="Valider" action="#{promotionBean.ajouterPromotion()}" class="btn btn-success btn-lg"/></span>   
                                            </h:form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </body>
</html>
