<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="../template/layout.xhtml">
            <ui:define name="title">ShopEasy produits</ui:define>
            <ui:define name="content">

                <div id="page-wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Produits</h1>
                            <span class="right buttonmargin">
                                <h:link outcome="nouveauProduit" class="btn btn-success right"><i class="fa fa-plus-circle"/> Nouveau</h:link>
                            </span>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>

                    <div class="row">
                        <div class="col-lg-12">

                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Nom</th>
                                            <th class="col-md-3">Rayon</th>
                                            <th class="col-md-1 centrer">URL</th>
                                            <th class="col-md-1 centrer">Vente</th>
                                            <th class="col-md-1 centrer">Prix</th>
                                            <th class="col-md-2 centrer">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <ui:repeat var="produit" value="#{produitBean.produits}" varStatus="status">

                                            <tr>
                                                <h:form>


                                                    <td>#{produit.nom}</td>                                                           
                                                    <td>#{produit.rayon.nom}</td>
                                                    <td>#{produit.urlImage}</td>
                                                    <td>#{produit.typeVente}</td>
                                                    <td class="centrer">#{produit.prix}</td>

                                                    <td class="centrer">
                                                        <h:link outcome="editerProduit" class="btn btn-warning btn-sm espace">
                                                            Editer
                                                            <f:param name="id" value="#{produit.id}" />
                                                        </h:link>
                                                        <h:commandButton value="Supprimer" class="btn btn-danger btn-sm espace">
                                                            <f:ajax event="click"  listener="#{produitBean.setIdADelete(produit.id)}" onevent="showModal()"/>
                                                        </h:commandButton>
                                                    </td>
                                                </h:form>
                                            </tr>
                                        </ui:repeat>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">X</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Suppression</h4>
                                </div>
                                <div class="modal-body">
                                    Etes-vous sur de vouloir supprimer ce produit?
                                </div>
                                <div class="modal-footer">
                                    <h:form>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>                               
                                        <h:commandButton value="Supprimer" type="submit" action="#{produitBean.delete()}" class="btn btn-danger"/>  
                                    </h:form>                               
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </body>
</html>
