<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>
        <ui:composition template="../template/layout.xhtml">
            <ui:define name="title">ShopEasy promotions</ui:define>
            <ui:define name="content">

                <div id="page-wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Promotion</h1>
                            <span class="right buttonmargin">
                                <h:link outcome="nouvellePromotion" class="btn btn-success right"><i class="fa fa-plus-circle"/> Nouveau</h:link>
                            </span>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>

                    <div class="row">
                        <div class="col-lg-12">

                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th class="col-md-1 center" colspan="3">Produits</th>
                                            <th class="col-md-1 center" colspan="2">Promotion</th>
                                        </tr> 
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Prix</th>
                                            <th>Prix réduit</th>
                                            <th class="col-md-1 center">Pourcentage</th>
                                            <th class="col-md-1 centrer">Action</th>
                                        </tr> 
                                        <ui:repeat var="promotion" value="#{promotionBean.promotions}" varStatus="statusPromotion">
                                            <ui:repeat var="produit" value="#{promotion.produits}" varStatus="statusProduit">
                                                <tr>
                                                    <h:form>
                                                    <td><h:outputText title="Nom" value="#{produit.nom}"></h:outputText></td>
                                                    <td><h:outputText title="Prix" value="#{produit.prix}">
                                                            <f:convertNumber pattern="#,###,##0.00"/>
                                                        </h:outputText>€</td>
                                                    <td><h:outputText title="Prix réduit" value="#{produit.prixReduit}">
                                                            <f:convertNumber pattern="#,###,##0.00"/>
                                                        </h:outputText>€</td>
                                                    <ui:fragment rendered="#{statusProduit.first}">
                                                    <td class="centrer" rowspan="#{promotion.produits.size()}">#{promotion.pourcentage}</td>
                                                    <td class="centrer" rowspan="#{promotion.produits.size()}">
                                                        <h:commandButton value="Supprimer" actionListener="#{promotionBean.delete(promotion.id)}" class="btn btn-danger btn-sm espace"></h:commandButton>
                                                    </td>
                                                    </ui:fragment>
                                                    </h:form>
                                                </tr>
                                            </ui:repeat>
                                        </ui:repeat>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">X</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Suppression</h4>
                                </div>
                                <div class="modal-body">
                                    Etes-vous sur de vouloir supprimer cette promotion?
                                </div>
                                <div class="modal-footer">
                                    <h:form>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>                               
                                        <h:commandButton value="Supprimer" type="submit" action="#{promotionBean.delete()}" class="btn btn-danger"/>  
                                    </h:form>                               
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </body>
</html>
