<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>
        <ui:composition template="../template/layout.xhtml">
            <ui:define name="title">ShopEasy utilisateurs</ui:define>
            <ui:define name="content">

                <div id="page-wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Utilisateurs</h1>                            
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>

                    <div class="row">
                        <div class="col-lg-12">

                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th class="col-md-4">Pseudo</th>
                                            <th class="col-md-3">Nom</th>
                                            <th class="col-md-2 center">Role</th>
                                            <th class="col-md-2 centrer">Date inscription</th>
                                            <th class="col-md-1 center">Action</th>
                                        </tr> 
                                    </thead>
                                    <tbody>
                                        <ui:repeat var="user" value="#{utilisateurBean.utilisateurs}" varStatus="status">

                                            <tr>
                                                <h:form>
                                                    <td>#{user.login}</td>   
                                                    <td>#{user.prenom} #{user.nom}</td>  
                                                    <td><i>#{user.role}</i></td>  
                                                    <td>
                                                        <h:outputText value="#{user.inscription}" >
                                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
                                                        </h:outputText>
                                                    </td> 
                                                    <td class="centrer">
                                                        <h:link outcome="editerUtilisateur" class="btn btn-warning btn-sm espace">
                                                            Editer
                                                            <f:param name="id" value="#{user.id}"/>
                                                        </h:link>
                                                    </td>
                                                </h:form>
                                            </tr>
                                        </ui:repeat>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </body>
</html>
