<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"

      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <h:body>

        <ui:composition template="template/layout.xhtml">
            <ui:define name="title">ShopEasy Connect</ui:define>
            <ui:define name="header"></ui:define>
            <ui:define name="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <div class="login-panel panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Connexion à ShopEasy admin</h3>
                                </div>
                                <div class="panel-body">
                                    <h:form role="form">
                                        <fieldset>
                                            <div class="form-group">
                                                <h:inputText id="Pseudo" value="#{loginBean.utilisateur.login}" class="form-control"  p:placeholder="Pseudo" />                                                
                                            </div>
                                            <div class="form-group">
                                                <h:inputSecret id="Password" value="#{loginBean.utilisateur.password}" class="form-control"  p:placeholder="Mot de passe" />
                                            </div>

                                            <span class="error"><h:outputText id="resultat" value="#{loginBean.erreur}"/></span>
                                            <!-- Change this to a button or input when using this as a form -->
                                            <h:commandButton class="btn btn-lg btn-success btn-block" value="Se connecter" action="#{loginBean.login}">
                                            </h:commandButton>
                                        </fieldset>
                                    </h:form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>

    </h:body>

</html>