<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Démonstration AutoComplete PrimeFaces</title>
    </h:head>
    <h:body>
        <ui:composition template="template/layout.xhtml">
            <ui:define name="content">
                <div id="page-wrapper">
                    <h1>Recherche d'un Client</h1>
                    <h:form id="form">
                        <p:autoComplete value="#{recetteBean.unIngredient.produit.nom}" completeMethod="#{produitBean.complete}" />
                    </h:form>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
